@inject IHttpContextAccessor _httpContext
@{
    var userId = _httpContext.HttpContext.Session.GetInt32("user_id");
}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>@ViewData["Title"] | MiniTwit</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<body>
    <div class="page">
        <h1>MiniTwit</h1>
            
        @if (userId.HasValue)
        {
            <div class="navigation">
                @* // TODO: when register and login functionalities are working, add conditional rendering. *@

                @* If user is authenticated:*@
                <a href="/">my timeline</a> |
                <a href="/public">public timeline</a> |
                <a href="/logout">sign out</a>

            </div>
        }
        else
        {
            <div class="navigation">

                @* If user is not authenticated: *@
                <a href="/public">public timeline</a> |
                <a href="/register">sign up</a> |
                <a href="/login">sign in</a>

            </div>
        }

        <div class="body">
            @RenderBody()
        </div>
        <div class="footer">
            MiniTwit &mdash; An ASP.NET Core Application
        </div>
    </div>
</body>

</html>
