<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] | MiniTwit</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<body>
    <div class="page">
        <h1>MiniTwit</h1>
        <div class="navigation">
            @if (Context.Session.GetString("user_id") != null)
            {
                <text>
                <a href="/">my timeline</a> &#124;
                <a href="/public">public timeline</a> &#124;
                <a href="/logout">sign out</a>
                </text>
            }
            else
            {
                <text>
                    <a href="/public">public timeline</a> &#124;
                    <a href="/register">sign up</a> &#124;
                    <a href="/login">sign in</a>
                </text>
            }
        </div>
        <div class="body">
            @RenderBody()
        </div>
        <div class="footer">
            MiniTwit &mdash; An ASP.NET Core Application
        </div>
    </div>
</body>

</html>
