@model LoginViewModel
@using csharp_minitwit.Models.ViewModels;

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Home/Layout.cshtml";
}


<h2>Sign In</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="error">
        <strong>Errors:</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

@if (ViewBag.RegistrationSuccess != null && ViewBag.RegistrationSuccess == true) 
{
    <div class="alert alert-success" role="alert">
       You were successfully registered and can login now
    </div>
}

<form asp-action="Login" method="post">
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" asp-for="Username" size="30"></dd>
        <dt>Password:</dt>
        <dd><input type="password" asp-for="Password" size="30"></dd>
    </dl>
    <div class="actions"><input type="submit" value="Sign In"></div>
</form>
