@model RegisterDTO
@using csharp_minitwit.Models.DTOs;

@{
    Layout = "~/Views/Home/Layout.cshtml";
    ViewData["Title"] = "Sign Up";
}

<h2>Sign Up</h2>
@if (ViewData.ModelState.Any(ms => ms.Value.Errors.Count > 0))
{
    var firstError = ViewData.ModelState.SelectMany(ms => ms.Value.Errors).Select(e => e.ErrorMessage).FirstOrDefault();
    if (!string.IsNullOrEmpty(firstError))
    {
        <div class="error"><strong>Error:</strong> @firstError</div>
    }
}
<form asp-action="Register" method="post">
    <dl>
        <dt>Username:</dt>
        <dd>
            <input asp-for="Username" class="form-control">
            <span asp-validation-for="Username" class="text-danger"></span>
        </dd>
        <dt>E-Mail:</dt>
        <dd>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </dd>
        <dt>Password:</dt>
        <dd>
            <input asp-for="Password" class="form-control" type="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </dd>
        <dt>Password <small>(repeat)</small>:</dt>
        <dd>
            <input asp-for="Password2" class="form-control" type="password">
            <span asp-validation-for="Password2" class="text-danger"></span>
        </dd>
    </dl>
    <div class="actions"><button type="submit" class="btn btn-primary">Sign Up</button></div>
</form>

